/*
Chekboxes
*/
label:hover {
  color: var(--element-purple) !important;
  border-width: 1px !important;
  border-color: var(--element-purple) !important;
  text-shadow: var(--element-purple) 0px 0px 0px 2px !important;
  transition: all 0.1s ease-in-out;
}

.cbx {
  position: relative;
  top: 0px;
  width: 20px;
  height: 18px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  /* vertical-align: middle; */
  transition: background 0.1s ease;
  cursor: pointer;
  display: block;
}

.cbx:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 4px;
  width: 7px;
  height: 12px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  /* transition: all 0.15 ease; */
  transition-delay: 0.15s;
}

.lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

input[role="switch"]:checked ~ .cbx {
  border-color: transparent;
  background: #6871f1;
  /* animation: jelly 0.6s ease; */
}

input[role="switch"]:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

.cntr {
  display: flex;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.hidden-xs-up {
  display: none !important;
}
