/*
Chekboxes
*/

.highlight {
  display: flex;
  justify-content: center;
  border-radius: 0%;
  max-width: 100px;
  border: none;
  border-bottom: #212121 solid 1px;
  margin: 2px;
  padding: 2px 5px;
}
.checkedBox {
  color: var(--element-purple);
  border-color: var(--element-purple);
}
.jelly {
  min-width: 20px;
  max-width: 25px;
  max-height: 25px;
}

label:hover {
  color: var(--element-purple) !important;
  border-width: 1px !important;
  border-color: var(--element-purple) !important;
  text-shadow: var(--element-purple) 0px 0px 0px 2px !important;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.cbx {
  position: relative;
  top: 0px;
  width: 20px;
  height: 18px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  /* vertical-align: middle; */
  transition: background 0.1s ease;
  cursor: pointer;
  display: block;
}

.cbx:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 5px;
  width: 7px;
  height: 12px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  /* transition: all 0.15 ease; */
  transition-delay: 0.15s;
}
.lbl {
  margin: 0;
  margin-left: 5px;
  max-width: fit-content;
  text-align: left;
  justify-content: flex-start;
}
.checkedBox {
  color: var(--element-purple);
  border-color: var(--element-purple);
}
input[role="switch"]:checked ~ .cbx {
  border-color: var(--element-purple);
  background: var(--element-purple);
}

input[role="switch"]:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}
input[role="switch"]:checked ~ .lbl {
  color: var(--element-purple);
  border-color: var(--element-purple);
}
.cntr {
  display: flex;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.hiddenXsUp {
  display: none !important;
}
