.tdDiv {
  height: 35px;
  max-height: 35px;
}
.td {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  line-height: 20px;
  height: fit-content;
  align-content: center;
}
.td:hover > div {
  color: var(--element-orange);
  border-bottom: var(--element-orange) 1px solid;
  transition: all 0.1s ease-in-out;
}
