.tdDiv {
  height: 20px;
  max-height: 20px;
}
.td {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  line-height: 10px;

  height: fit-content;
}
.td:hover > div {
  box-sizing: border-box;
  color: var(--element-orange);
  border-bottom: var(--element-orange) 1px solid;
  padding-top: 0px;
  transition: all 0.1s ease-in-out;
}
