.heading {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0.2em;
  margin-left: 0;
  max-width: 50%;
  background-color: var(--quaternary);
  color: var(--element-orange);
}

.text {
  margin: 0;
  padding: 0.5rem;
}

.wFull {
  max-width: 100%;
}
