.dflt {
  margin: 0.2em;
  padding: 0.2em;
}

.neutral {
  margin: 0em;
  padding: 0em;
}

.paginationH {
  position: absolute;
  right: 0.55rem;
  bottom: 11rem;
  width: fit-content;
}
.paginationV {
  position: relative;
  width: fit-content;
}
