.dflt {
  margin: 0.2em;
  padding: 0.2em;
}

.neutral {
  margin: 0em;
  padding: 0em;
}

.paginationH {
  position: relative;
  bottom: 29.4rem;
  left: 18rem;
  width: fit-content;
}
.paginationV {
  position: relative;
  width: fit-content;
}
